# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CLCLTR.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Danila\Desktop\Repository.NET\dotNETJSMakarov\CLCLTR\.idea\.idea.CLCLTR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
