# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ClientExpressions.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Danila\Desktop\Repository.NET\dotNETJSMakarov\ClientExpressions\.idea\.idea.ClientExpressions.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
